#footer{
    background-color: rgb(240, 240, 240);
    box-shadow: inset rgb(177, 177, 177) 0px 0px 7px 0px;
    margin: 50px 0 0 0;
}

#footer .row{
    justify-content: center;
}
.footer{
    display: inline-block;
    margin: 0;
    padding: 30px 20px 0 20px;
    
}
.footer h4{
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing:-1px;
    opacity: 0.8;
}
#footer .contact img{
    display: inline-block;
    padding-top: 4px;
    vertical-align:top;
    opacity: 0.5;
}
#footer p{
    color: #0000008a;
    font-size: 0.8em;
    line-height: 200%;
}
#footer .contact p{
    display: inline-block;
    
}
#footer a{
    text-decoration: none;
    color: #9d426b;
    font-size: 0.9em;
}
#footer .copyright{
    margin-top: 50px;
    border-top: rgba(0, 0, 0, 0.144) 2px dotted;
}
.copyright .row{
    justify-content: space-around;
}
.copyright p{
    text-align: start;
    padding: 20px 0 0 10px;
}
.copyright span{
    text-align: end;
    margin: 10px 90px 10px 0;
    overflow: hidden;
}
.copyright a{
    margin: 5px;
}
.copyright img{
    margin-top: -30px;
    transition: margin 0.3s linear;
}
.copyright img:hover{
    margin-bottom: -75px;
}